<%- include('partials/head') %>

<div class="flex min-h-screen">
  
  <%- include('partials/sidebar') %>

  <main class="flex-1 ml-0 md:ml-64 p-6 transition-all duration-300">
    
    <%- include('partials/header') %>

    <%- include('tabs/soal') %>
    <%- include('tabs/hasil') %>
    <%- include('tabs/monitoring') %>
    <%- include('tabs/pengaturan') %>

  </main>
</div>

<%- include('partials/footer') %>